body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: darkcyan;
    color: white;
    grid-column: 1;
    grid-row: 1/3;

    display: grid;
    grid-template-rows: auto max-content 1fr;
}

.sidebar ul {
    padding: 10px;
    font-size: .9rem;
}

.sidebar li {
    list-style: none;
    padding: 10px;

    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 15px;
    align-items: center;
}

.brand {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;

    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
}

.header {
    grid-column: 2/3;
    grid-row: 1;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    z-index: 1;

    display: grid;
    grid-template-rows: auto 1fr;
}

.search-row {
    padding: 10px 20px;

    display: grid;
    grid-template-columns: min(50px, 5%) 1fr auto auto auto;
    gap: 5px;
    align-items: center;
}

#search-icon {
    justify-self: center;
}

#search-bar {
    border: none;
    border-radius: 15px;
    background-color: rgb(214, 226, 234);
    width: 80%;
    min-width: 100px;
    padding: 5px;
}

.profile-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: thistle;
    margin: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-photo img {
    width: 85%;
    height: 85%;
}

.name {
    font-weight: bold;
    font-size: .8rem;
}

.user-row {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 10px;
    align-items: center;
}

.user-row .profile-photo {
    width: 60px;
    height: 60px;
}

.user-row button {
    border: none;
    background-color: darkcyan;
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: .7rem;
}

.user-intro {
    display: grid;
    grid-template-rows: auto 1fr;
}

.user-intro p {
    margin: 5px 0;
    font-size: .6rem;
    font-weight: bold;
}

.user-intro h2 {
    margin: 0;
    font-size: 1.4rem;
}

.main {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(214, 226, 234);
    padding: 20px;

    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.main .section-title{
    margin: 0 0 -5px 0;
    font-size: 1.1rem;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.projects{
    grid-column: 1;
    grid-row: 1/3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 15px;
}

.projects .section-title{
    grid-column: 1/3;
}

.projects .card{
    border-left: 6px solid rosybrown;
    padding: 15px 10px;

    display: grid;
    grid-template-rows: auto auto 1fr;
}

.projects h4{
    margin: 0;
    font-size: 1rem;
}

.projects p{
    margin: 5px 0;
    font-size: .8rem;
    color: darkgray;
}

.project-actions{
    align-self: end;
    justify-self: end;
}

.project-actions i{
    margin: 0 10px;
}

.announcements{
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.announcements .card{
    padding: 15px 20px;

    display: grid;
    align-items: center;
}

.announcements h5{
    font-size: .8rem;
    margin: 0 0 3px 0;
}

.announcements p{
    margin: 0;
    font-size: .7rem;
    color: darkgray;
}

.announcement-item{
    padding: 10px 5px;
    border-top: 1px solid rgb(213, 213, 213);
}

.announcement-item:first-child{
    border: none;
}

.trending{
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.trending .card{
    padding: 20px;

    display: grid;
    align-items: center;
}

.trending-item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: center;
}

.trending-item p{
    margin: 0;
    font-size: .8rem;
}

.trend-photo{
    width: 35px;
    height: 35px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.trend-photo img{
    width: 60%;
    height: 60%;
}

.trend-project{
    color: darkgray;
    padding: 2px 0;
}

.trending-item:nth-child(1) .trend-photo{
    background-color:rgb(197, 235, 235);

}

.trending-item:nth-child(2) .trend-photo{
    background-color: thistle;
}

.trending-item:nth-child(2) img{
    width: 85%;
    height: 85%;
}

.trending-item:nth-child(3) .trend-photo{
    background-color: gray;
}

.trending-item:nth-child(4) .trend-photo{
    background-color: rgb(255, 158, 148);
}